.border-all {	
	border: black 2px solid;
}

#headings{
    background-color: #fff !important;
}

.border-right{
    border-right: #cdcdcd 2px solid;    
}

.border-left{
    border-left: #cdcdcd 2px solid;    
}

.form-group{
    padding: 10px;
}

.container{
    background-color: #ddd;
}

#search-input{
    border-radius: 4px 0px 0px 4px;
}

#search-btn{
/*    margin-left: -5px;    */
    border-radius: 0px 4px 4px 0px;
}

.fa-angle-double-right, .fa-arrow-circle-o-down{
    font-size: x-large !important;
    color: black !important;
}
.result-item{
    border-radius: 10px;
    min-height: 50px;
    border: #cdcdcd 2px solid;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    font-weight: bold;
    color: lightslategrey;
}

#result-summary{    
    background-color: rgba(76, 175, 80, 0.6);
    margin-top: 10px;
}

#repo-name{
    color: mediumseagreen !important;
}

#selectpicker{    
    display: inline-block !important;
    width: 200px !important;
}

.result-item .row{
    margin-bottom: 10;
    cursor: pointer;
}

.repo-details{
    background-color: #EEE !important;    
}

.gap{
    margin-top: 2px;
    margin-bottom: 2px;    
    color: #fff !important;    
}

hr{
    margin-top: 5px !important;        
    margin-bottom: 5px !important;        
}

.input-row{
    background-color: #EEE !important;        
}

#result-cont{    
    margin-top: 15px
}

.active{
    background-color: #EEE !important;       
}

span{
    word-wrap: break-word;
}